@charset "UTF-8";
@font-face {
    font-family: 'sukhumvit';
url('../fonts/SukhumvitSet-Text.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Thai Sans Neue";
    src: url("../fonts/ThaiSansNeue-Regular.ttf") format("truetype");
}

body, h1, h2, h3, h4, h5, p, span, li, a, a.link-readmore {
    font-family: "sukhumvit", "Thai Sans Neue";
    color: #7a7777;
}

p {
    font-size: 22px;
}

.red {
    color: #971a0f;
}

.violet {
    color: #9b66b7;
}

.green {
    color: #317964;
}

.thumbnail {
    border: none;
    background-color: transparent;
}

.navbar-default {
    background-color: transparent;
    border-color: transparent;
    transition: background-color 0.3s ease;
}

.navbar-default .navbar-header .navbar-brand, .navbar-default .nav li a {
    font-size: 22px;
    text-transform: uppercase;
}

.nav > li {
    position: relative;
    display: inline-block;
}

.navbar-nav {
    text-align: right;
}

.navbar-nav > li > a {
    padding-top: 20px;
    padding-bottom: 20px;
}

.navbar-nav > li > a.search, .navbar-nav > li > a.cart {
    padding-top: 18px;
    padding-bottom: 18px;
}

.navbar-default .navbar-toggle {
    border: none;
}

.navbar-default .navbar-toggle:focus {
    background-color: transparent;
}

.navbar-default .box-search {
    display: none;
    margin-top: 15px;
    margin-bottom: 15px;
}

.navbar-default .box-search input.form-control, .navbar-default .box-search .btn {
    font-size: 18px;
    height: 39px;

}

section#header {

}

section#header .header-area {
    height: 650px;
    display: block;
    background-image: url('../../pictures/vilinea/header-product.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

section#header .header-area .text-header {
    margin-top: 225px;
    text-align: right;
}

section#header .header-area .text-header h1 {
    font-size: 150px;
    font-weight: 700;
    line-height: 80px;
    letter-spacing: 4px;

}

section#header .header-area .text-header span {
    font-size: 50px;
    font-weight: 700;
    letter-spacing: 3px;
}

section#header .header-area .container {

}

section#product-list .product-item {
    margin-top: 50px;
}

section#product-list .product-item img.brand {
    margin-top: 70px;

}

section#product-list .product-item .product-info a {
    text-decoration: none;
    margin: 0;
}

section#product-list .product-item .product-info h2 {
    font-size: 55px;
    line-height: 45px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 5px;
    letter-spacing: 2px;
}

section#product-list .product-item .product-info > span {
    font-size: 40px;
    font-weight: 300;
    padding-left: 5px;
    line-height: 35px;
    letter-spacing: 2px;
}

section#product-list .product-item .product-info .product-price span {
    font-size: 40px;
    font-weight: 300;
    padding-left: 5px;
    line-height: 35px;
    letter-spacing: 2px;
}

section#product-list .product-item a:last-child {
    padding-left: 5px;
    font-size: 20px;
    margin-top: 30px;
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px solid;
    line-height: 20px;
}

section#product-list .product-item a.no-line {
    border-bottom: none;
}

footer {
    margin-top: 80px;
    background-color: #f8f7f8;
}

footer .menu h4 {
    font-size: 30px;
}

footer .menu ul {
    padding-left: 5px;
}

footer .menu ul li {
    display: inline-block;
    margin-left: 15px;
    font-size: 22px;
}

footer .contact .socail a img{
    filter: grayscale(100%);
    transition: filter 0.3s ease;
}

footer .contact .socail a:hover img{
    filter: grayscale(0%);
}

footer .contact .form-group label {
    font-size: 30px;
    font-weight: 300;
}

footer .contact .form-group div {
    margin-top: 15px
}

footer .contact .form-group div .form-control {
    height: 36px;
}

footer .contact .form-group div .form-control, footer .contact .form-group div .btn {
    font-size: 16px;
}

footer .credit {
    border-top: 1px white solid;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 16px
}

@media (max-width: 1200px) {
    section#header .header-area {
        background-size: 160%;
        background-position: center center;
        background-position-x: -330px;
    }

    section#product-list .product-item img.brand {
        margin-top: 50px;

    }
}

@media (max-width: 990px) {
    section#product-list .product-item img.brand {
        margin-top: 30px;

    }
}

@media (max-width: 767px) {

    section#header .header-area {
        height: 450px;
        display: block;
        background-size: 170%;
        background-repeat: no-repeat;
        background-position: center center;
        margin-left: -80px;
    }

    section#header .header-area .text-header {
        margin-top: 170px;
        text-align: right;
    }

    section#header .header-area .text-header h1 {
        font-size: 100px;
        font-weight: 700;
        line-height: 80px;
        letter-spacing: 4px;
    }

    section#header .header-area .text-header span {
        font-size: 35px;
        font-weight: 700;
        letter-spacing: 3px;
    }

    section#vlinea-info .thumbnail.bottle-vlinea {
        margin-top: 0px;
    }

    section#vlinea-info .row:last-child .col-md-5 {
        text-align: center;
    }

    section#vlinea-info .thumbnail.vilinea-oil {
        display: inline-block;
        margin-top: 10px;
    }

    section#vlinea-certificate h2, section#vlinea-standard h2, section#vlinea-product h2 {
        font-size: 50px;
    }

    section#vlinea-certificate, section#vlinea-standard, section#vlinea-product {
        margin-top: 30px;
    }

    section#vlinea-product .container-fluid {
        width: 49%;
        display: inline-block;
    }

    section#vlinea-product .product .product-info {
        margin-top: 10px;
    }

    section#vlinea-product .product .product-info h3 {
        padding-left: 8px;
        font-size: 30px;
        line-height: 25px;
    }

    section#vlinea-product .product .product-info span {
        font-size: 25px;
        line-height: 30px;
        padding-left: 8px;
    }

    section#vlinea-product .red-vline {
        background-position: 75%;
    }

    section#vlinea-product .blue-vline {
        background-position: 83%;
    }

    footer .contact .form-group label {
        font-size: 20px;
    }

    footer .contact label {
        margin-top: 13px;
    }

    footer .contact .socail div {
        text-align: right;
    }

}

@media (max-width: 594px) {
    section#vlinea-product .container-fluid {
        width: 100%;
        display: inline-block;
    }

    section#vlinea-product .product-picture, section#vlinea-product .product-info {
        width: 100%;
        display: inline-block;
    }

    section#vlinea-product .product-picture {
        text-align: center;
    }

    section#vlinea-product .product-picture img {
        max-width: 300px;
        display: inline-block;
    }
}

@media (max-width: 500px) {

    .navbar-default .nav li a {
        font-size: 20px
    }

    .navbar-nav > li > a {
        padding-left: 5px;
        padding-right: 5px;
    }

    .navbar-nav > li:last-child {
        padding-right: 10px;
    }

    section#header .header-area .text-header h1 {
        font-size: 100px;
        font-weight: 700;
        line-height: 80px;
        letter-spacing: 4px;
    }
}

@media (max-width: 485px) {
    section#header .header-area {
        margin-top: 25px;
        margin-left: -60px;
        height: 250px;
    }

    section#header .header-area .text-header {
        margin-top: 100px;
        text-align: right;
    }

    section#header .header-area {
        background-size: 160%;
    }

    section#header .header-area .text-header h1 {
        font-size: 65px;
        font-weight: 700;
        line-height: 80px;
        letter-spacing: 4px;
    }

    section#header .header-area .text-header span {
        font-size: 25px;
        font-weight: 700;
        letter-spacing: 3px;
    }

    section#vlinea-info h2, section#vlinea-info h3, section#vlinea-certificate h2, section#vlinea-standard h2, section#vlinea-product h2 {
        font-size: 32px;
    }

    section#vlinea-certificate, section#vlinea-standard, section#vlinea-product {
        margin-top: 0;
    }

    section#vlinea-product > div > ul li {
        font-size: 22px;
    }

}

@media (max-width: 345px) {

    .navbar-default .nav li a {
        font-size: 18px
    }

}