@charset "UTF-8";
@font-face {
    font-family: 'sukhumvit';
    url('../fonts/SukhumvitSet-Text.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@font-face{
    font-family:"Thai Sans Neue";src:url("../fonts/ThaiSansNeue-Regular.ttf") format("truetype");
}

body, h1, h2, h3, h4, h5, p, span, li, a, a.link-readmore{
    font-family: "sukhumvit", "Thai Sans Neue";
    color: #7a7777;
}

h2 {
    font-size: 50px;
}

h3 {
    font-size: 40px;
}

p, li {
    font-size: 22px;
}

.red {
    color: #971a0f;
}

.violet {
    color: #9b66b7;
}

.green {
    color: #317964;
}

.thumbnail {
    border: none;
    background-color: transparent;
}

.navbar-default {
    background-color: transparent;
    border-color: transparent;
    transition: background-color 0.3s ease;
}

.navbar-default .navbar-header .navbar-brand, .navbar-default .nav li a {
    font-size: 22px;
    text-transform: uppercase;
}

.nav>li {
    position: relative;
    display: inline-block;
}

.navbar-nav {
    text-align: right;
}

.navbar-nav>li>a {
    padding-top: 20px;
    padding-bottom: 20px;
}
.navbar-nav>li>a.search, .navbar-nav>li>a.cart {
    padding-top: 18px;
    padding-bottom: 18px;
}

.navbar-default .navbar-toggle {
    border: none;
}

img.thumbnail {
    width: 100%;
    display: inline-block;
}

.navbar-default .navbar-toggle:focus {
    background-color: transparent;
}

.navbar-default .box-search {
    display: none;
    margin-top: 15px;
    margin-bottom: 15px;
}

.navbar-default .box-search input.form-control, .navbar-default .box-search .btn {
    font-size: 18px;
    height: 39px;
}

.navbar-default .navbar-nav>li>a {
    color: white;
}

section#header {

}

section#header .container-fluid{
    padding-left: 0px;
    padding-right: 0px;
}

section#header .header-area .overlay-grandient{
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, #a22115, transparent);
}

section#header .header-area {
    height: 1050px;
    display: block;
    background-image: url('../../pictures/vilinea/header-red-vlinea.png');
    background-size: auto 650px;
    background-position: top right;
    background-repeat: no-repeat;
    position: relative;
}

section#header .header-area .slogan {
    margin-top: 200px;
}

section#header .header-area .slogan span{
    font-size: 40px;
    color: white;
    font-style: italic;
}

section#header .header-area .text-header {
    position: relative;
}

section#header .header-area .text-header h1 {
    font-size: 80px;
    font-weight: 700;
    line-height: 65px;
    letter-spacing: 3px;
    margin-top: 0;
    padding-left: 5px;
    color: white;
}

section#header .header-area .text-header span {
    font-size: 60px;
    font-weight: 300;
    letter-spacing: 3px;
    line-height: 30px;
    padding-left: 5px;
    color: white;
}

section#header .header-area .text-header .product-title {
    margin-top: 50px;
}

section#header .header-area .product-description p {
    color : black;
}
section#header .header-area a.link-readmore {
    display: block;
    bottom: 10px;
    right: 30px;
    color: white;
    font-size: 22px;
    text-align: right;
    cursor: pointer;
    margin-right: 20px;
}

section#header .header-area .container {

}

section#header .why-vline-a {
    margin-top: 100px;
}

section#header .why-vline-a h2{
    color: white;
}

section#header .why-vline-a .col-md-3{
    text-align: center;
}

section#header .why-vline-a img.thumbnail{
    max-width: 120px;
    display: inline-block;
}

section#header .why-vline-a .col-md-9 img{
    width: 100%;
    max-width: 500px;
    margin-left: 100px;
}

section#header .why-vline-a .col-md-9 p{
    margin-top: 20px;
}

section#v-line-a-standard {
    margin-top: 20px;
    margin-bottom: 20px;
}

section#v-line-a-standard h2 {
    text-align: center;
}

section#v-line-a-standard img.standard {
    display: inline-block;
    max-width: 100%;
}

section#v-line-a-test {
    margin-top: 100px;
    margin-bottom: 20px;
}

section#v-line-a-test h2 {
    text-align: center;
}

section#v-line-a-test h2 {
    text-align: center;
    max-width: 100%;
}

section#product-recommend {
    margin-top: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top: 40px;
    background-image: url('../../pictures/vilinea/recommend-photo.png');
    background-position: center left;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

section#product-recommend ul li {
    list-style: none;
}

footer {
    margin-top: 80px;
    background-color: #f8f7f8;
}

footer .menu h4{
    font-size: 30px;
}

footer .menu ul {
    padding-left: 5px;
}

footer .menu ul li {
   display: inline-block;
   margin-left: 15px;
    font-size: 22px;
}

footer .contact .form-group label {
    font-size: 30px;
    font-weight: 300;
}

footer .contact .form-group div {
   margin-top: 15px
}

footer .contact .form-group div .form-control {
    height: 36px;
}

footer .contact .form-group div .form-control , footer .contact .form-group div .btn  {
    font-size: 16px;
}

footer .contact .socail a img{
    filter: grayscale(100%);
    transition: filter 0.3s ease;
    border-radius:5px;
}

footer .contact .socail a:hover img{
    filter: grayscale(0%);
}

footer .credit {
    border-top: 1px white solid;
    padding-top:15px;
    padding-bottom:15px;
    font-size: 16px
}

@media (max-width: 1200px) {
    section#header .header-area .text-header h1 {
        font-size: 60px;
    }
    section#header .header-area .text-header .product-title {
        margin-top: 30px;
    }

}

@media (max-width: 992px) {
    section#header .header-area .text-header h1 {
        font-size: 44px;
        line-height: 35px;
    }
    section#header .header-area .text-header span {
        font-size: 32px;
        line-height: 20px;
    }
    section#header .why-vline-a .col-md-9 img{
        margin-left: 30px;
    }

    section#v-line-a-standard {
        margin-top: 60px;
    }

    section#product-recommend {
        background-position: -320px;
    }

}

@media (max-width: 767px) {

    section#header .header-area .slogan {
        margin-top: 70px;
        text-align: center;
    }

    section#header .header-area .slogan span {
        font-size: 25px;
    }

    section#header .header-area {
        height: 980px;
        display: block;
        background-position: top right;
        background-size:auto 350px;
        background-repeat: no-repeat;
    }

    section#header .header-area .text-header {
        margin-top: 20px;
        max-width: 400px;
        margin-right: auto;
        margin-left: auto;

    }
    .thumbnail {
        margin-bottom: 0px;
    }

    section#header .header-area .product-description p {
        margin-right: 20px;
        margin-left: 20px;
    }

    section#header .why-vline-a {
        margin-top: 20px;
        margin-right: 20px;
        margin-left: 20px;
    }

    section#header .why-vline-a .col-md-3 img{
        display: none;
    }

    section#product-recommend {
        margin-top: 80px;
    }

    footer .contact .form-group label {
        font-size: 20px;
    }
    footer .contact label {
        margin-top: 13px;
    }

    footer .contact .socail div {
        text-align: right;
    }

}

@media (max-width: 767px) {
    section#header .header-area {
        height: 1000px;
    }

}

@media (max-width: 594px) {

    section#header .header-area {
        height: 1000px;
    }

    section#vlinea-product .container-fluid{
        width: 100%;
        display: inline-block;
    }

    section#vlinea-product .product-picture, section#vlinea-product .product-info{
        width: 100%;
        display: inline-block;
    }
    section#vlinea-product .product-picture {
        text-align: center;
    }
    section#vlinea-product .product-picture img {
        max-width: 300px;
        display: inline-block;
    }
}


@media (max-width: 500px) {

    .navbar-default .nav li a {
         font-size: 20px
    }

    .navbar-nav>li>a {
        padding-left: 5px;
        padding-right: 5px;
    }

    .navbar-nav>li:last-child {
         padding-right:10px;
    }

    section#header .header-area .text-header h1 {
        font-size: 50px;
        font-weight: 700;
        line-height: 40px;
        letter-spacing: 4px;
    }

    p, li {
        font-size: 18px;
    }

    h2 {
        font-size: 35px;
    }

    section#v-line-a-test {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    section#v-line-a-standard {
        margin-top: 20px;
    }
}

@media (max-width: 485px) {

    section#header .header-area {
        height: 1050px;
    }

    section#header .header-area .text-header {
        margin-top: 60px;
        text-align: left;
    }

    section#header .header-area .text-header h1 {
        font-size: 45px;
    }

    section#header .header-area .text-header span {
        font-size: 25px;
        font-weight: 700;
        letter-spacing: 3px;
    }

    section#vlinea-info h2, section#vlinea-info h3, section#vlinea-certificate h2, section#vlinea-standard h2, section#vlinea-product h2 {
        font-size: 32px;
    }
    section#vlinea-certificate, section#vlinea-standard, section#vlinea-product {
        margin-top: 0;
    }

    section#vlinea-product > div > ul li {
        font-size: 22px;
    }

}

@media (max-width: 445px) {
    section#header .header-area {
        height: 1100px;
    }
}


@media (max-width: 345px) {

    .navbar-default .nav li a {
         font-size: 18px
    }

}