
<style type="text/css">
	@charset "UTF-8";
	@font-face {
	    font-family: 'sukhumvit';
	    font-weight: normal;
	    font-style: normal;
	}

	@font-face {
	    font-family: "Thai Sans Neue";
	    src: url("../assets/fonts/ThaiSansNeue-Regular.ttf") format("truetype");
	}

	body, h1, h2, h3, h4, h5, p, span, li, a, a.link-readmore {
	    font-family: "sukhumvit", "Thai Sans Neue";
	    color: #7a7777;
	}
	p {
		font-size: 1.2rem;
	}
</style>

<h3 style="text-align: center;margin-bottom: 0px">ข้อตกลงและเงื่อนไขการใช้บริการ</h3>
<p style="text-align: center;margin-top: 3px">ข้อกำหนดและเงื่อนไขในการใช้งาน www.univeathailand.com</p>
									
<p>
1. คำนิยาม
	คำและข้อความต่อไปนี้จะมีความหมายตามที่กำหนดไว้ด้านล่างนี้เมื่อมีการใช้ในข้อกำหนดและเงื่อนไขฯ
	1.1 "เนื้อหา" หมายถึง ข้อมูล เช่น ข้อความ ไฟล์เสียง เพลง รูปภาพ วิดีโอ ซอฟต์แวร์ โปรแกรม รหัสคอมพิวเตอร์ และสิ่งอื่นๆ ที่คล้ายคลึงกัน
	1.2 "เนื้อหาฯ" หมายถึง เนื้อหาที่สามารถเข้าถึงได้ผ่านทางเว็บไซด์
	1.3 "เนื้อหาจากผู้ใช้" หมายถึง เนื้อหาที่ผู้ใช้ได้ส่ง ส่งผ่าน หรือ อัพโหลด
	1.4 "ข้อกำหนดและเงื่อนไขฯ เพิ่มเติม" หมายถึง เอกสารที่บริษัทฯ ออกหรืออัพโหลดซึ่งเกี่ยวกับบริการฯ ภายใต้ชื่อ "ข้อตกลง" "แนวทางปฏิบัติ" "นโยบาย" และอื่นๆ ในทำนองเดียวกัน
</p>

<p>
2. การตกลงยอมรับข้อกำหนดและเงื่อนไขฯ

	2.1 ผู้ใช้ทุกรายจะต้องใช้บริการฯ ตามข้อกำหนดที่ระบุไว้ในข้อกำหนดและเงื่อนไขฯ ผู้ใช้จะไม่สามารถใช้บริการฯ ได้เว้นเสียแต่ว่า ผู้ใช้ได้ตกลงยอมรับข้อกำหนดและเงื่อนไขฯ การตกลงยอมรับดังกล่าวมีผลสมบูรณ์และเพิกถอนมิได้
	2.2 ผู้เยาว์สามารถใช้บริการฯ ได้ต่อเมื่อได้รับความยินยอมจากบิดามารดาหรือผู้ปกครองตามกฎหมายเท่านั้น นอกจากนี้ หากผู้ใช้ใช้บริการฯ แทน หรือ เพื่อวัตถุประสงค์ขององค์กรธุรกิจใดๆ จะถือว่า องค์กรธุรกิจดังกล่าวได้ตกลงยอมรับข้อกำหนดและเงื่อนไขฯ นี้ด้วยแล้ว การตกลงยอมรับดังกล่าวมีผลสมบูรณ์และเพิกถอนมิได้
	2.3 การที่ผู้ใช้ใช้บริการฯ ถือว่า ผู้ใช้ได้ตกลงยอมรับข้อกำหนดและเงื่อนไขฯ การตกลงยอมรับดังกล่าวมีผลสมบูรณ์และเพิกถอนมิได้
	2.4 หากมีข้อกำหนดและเงื่อนไขฯ เพิ่มเติมสำหรับบริการฯ ผู้ใช้จะต้องปฏิบัติตามข้อกำหนดและเงื่อนไขฯ เพิ่มเติมนั้นด้วยเช่นเดียวกับข้อกำหนดและเงื่อนไขฯ นี้
</p>
<p>
3. การแก้ไขข้อตกลงและเงื่อนไขฯ
ข้อควรทราบ ข้อตกลงนี้มีผลผูกพันตามกฎหมาย ("ข้อตกลง" นี้) กรุณาอ่านข้อกำหนดและเงื่อนไขของการใช้งานโดยละเอียดก่อนที่จะใช้งานเว็บไซต์นี้

ข้อตกลงนี้กำกับดูแลการใช้งานเว็บไซต์อินเทอร์เน็ตนี้ ซึ่งอยู่ที่ http://www.Vlineathailand.com (เรียกรวมกันว่า "เว็บไซต์") และจัดทำขึ้นโดยและระหว่าง Harrots Company (ต่อไปนี้จะเรียกว่า "HC" "เรา" "พวกเรา" หรือ "ของเรา") และท่าน ในนามของตัวท่านเองและผู้ซื้อ สมาชิกหรือซัพลายเออร์ที่ท่านได้ลงทะเบียน ("ท่าน") โดยการใช้งาน ดู ส่ง แคช จัดเก็บ และ/หรือใช้ประโยชน์ในลักษณะอื่นใดจากเว็บไซต์ บริการหรือฟังก์ชันต่างๆ ที่เสนอในหรือโดยเว็บไซต์ และ/หรือเนื้อหาของเว็บไซต์ในลักษณะใดๆ ย่อมแสดงว่าคุณได้ยอมรับข้อกำหนดและเงื่อนไขแต่ละข้อและทั้งหมดที่ระบุไว้ด้านล่าง และสละสิทธิ์ใดๆ ที่จะเรียกร้องต่อความคลุมเครือหรือข้อผิดพลาดในข้อตกลงนี้ หากคุณไม่ยอมรับข้อกำหนดและเงื่อนไขแต่ละข้อและทั้งหมดเหล่านี้ กรุณาอย่าใช้งานเว็บไซต์และออกจากเว็บไซต์นี้ทันที เราขอสงวนสิทธิ์โดยดุลยพินิจของเราแต่เพียงผู้เดียวในการเปลี่ยนแปลง แก้ไข เพิ่มเติม หรือลบส่วนใดๆ ของข้อกำหนดเหล่านี้เมื่อใดก็ได้โดยไม่ต้องแจ้งให้ทราบ และเว้นแต่จะมีการระบุไว้เป็นอย่างอื่น การเปลี่ยนแปลงดังกล่าวจะมีผลทันที ดังนั้น กรุณาตรวจสอบข้อกำหนดเหล่านี้เป็นระยะๆ เพื่อให้ทราบถึงการเปลี่ยนแปลงใดๆ การที่คุณยังคงใช้งานเว็บไซต์นี้ หลังจากที่มีการติดประกาศการเปลี่ยนแปลงข้อตกลงนี้ ย่อมแสดงว่าคุณยอมรับการเปลี่ยนแปลงดังกล่าว
</p>
<p>
4. การมีคุณสมบัติตามเงื่อนไข

เว็บไซต์นี้เปิดให้ใช้งานสำหรับบุคคลและองค์กรที่สามารถเข้าทำสัญญาที่มีผลผูกพันตามกฎหมายภายใต้กฎหมายที่เกี่ยวข้องเท่านั้น เว้นแต่มีการจำกัดไว้ข้างต้น เว็บไซต์และบริการต่างๆ ที่เสนอโดยเว็บไซต์นี้ไม่เปิดให้บริการแก่ผู้เยาว์ หากคุณมีคุณสมบัติไม่เหมาะสม คุณอาจจะไม่สามารถใช้บริการเว็บไซต์นี้ได้ คุณรับประกันว่าคุณต้องมีอายุสิบแปด (18) ปีขึ้นไปจึงจะสามารถซื้อสินค้า ดาวน์โหลดข้อมูลบนเว็บไซต์นี้ หากคุณอายุต่ำกว่าสิบแปดปี กรุณาติดต่อทางบริษัทโดยตรงเพื่อขอความช่วยเหลือ
</p>
<p>
5. ข้อจำกัดของการใช้เนื้อหา

เนื้อหาทั้งหมดที่มีในเว็บไซต์นี้เป็นทรัพย์สินที่มีลิขสิทธิ์ของ HC หรือบริษัทสาขาหรือบริษัทในเครือของ HC และ/หรือผู้ออกใบอนุญาตที่เป็นบุคคลภายนอก ห้ามคัดลอก “ตัดต่อ” ทำซ้ำ เผยแพร่ซ้ำ อัปโหลด ติดประกาศ ส่ง หรือแจกจ่ายในลักษณะใดๆ ซึ่งเนื้อหาใดๆ จากเว็บไซต์หรือเว็บไซต์อินเทอร์เน็ตใดๆ ที่เราหรือบริษัทในเครือของเราเป็นเจ้าของ ดำเนินการ ออกใบอนุญาต หรือควบคุมดูแล เพื่อจุดประสงค์ของข้อกำหนดเหล่านี้ การใช้งานเนื้อหาใดๆ ดังกล่าวบนเว็บ อินเทอร์เน็ต อินทราเน็ต หรือเอ็กซ์ตร้าเน็ตอื่นใด หรือเว็บไซต์หรือสภาพแวดล้อมคอมพิวเตอร์อื่นใดถือเป็นข้อห้าม เครื่องหมายการค้า เครื่องหมายการบริการ ชื่อการค้าและรูปแบบทางการค้าถือเป็นกรรมสิทธิ์ของเรา ห้ามคุณจัดทำกรอบหรือใช้ประโยชน์จากเทคนิคการสร้างกรอบเพื่อบรรจุเครื่องหมายการค้า โลโก้ หรือข้อมูลที่มีกรรมสิทธิ์อื่นใดของเรา (รวมถึงรูปภาพ ข้อความ เลย์เอาต์ของหน้า หรือแบบฟอร์ม) เว้นแต่ได้รับคำยินยอมล่วงหน้าเป็นลายลักษณ์อักษรโดยชัดแจ้ง
</p>
<p>
6. ข้อมูลที่ส่งมา

	เรามีความยินดีที่จะได้รับการติดต่อจากผู้ใช้ของเราและรับทราบความคิดเห็นของคุณเกี่ยวกับเว็บไซต์ และผลิตภัณฑ์และบริการที่เรานำเสนอโดยเชื่อมโยงกับเว็บไซต์ อย่างไรก็ตาม เป็นที่น่าเสียดายที่นโยบายบริษัทที่มีมายาวนานของเราไม่อนุญาตให้เรายอมรับหรือพิจารณาความคิดที่สร้างสรรค์ คำแนะนำ หรือเนื้อหาอื่นใดนอกเหนือจากสิ่งที่เราได้ร้องขอเป็นการเฉพาะได้ เราได้ว่าจ้างพนักงานและที่ปรึกษาที่มีความรู้ความสามารถ ซึ่งอาจดำเนินการในเรื่องของความคิดต่างๆ ที่คล้ายกันหรือเหมือนกันนี้ เราหวังว่าคุณคงเข้าใจว่านโยบายนี้มีจุดประสงค์ที่จะหลีกเลี่ยงความเข้าใจผิดที่อาจเกิดขึ้นได้ในอนาคตเมื่อมีการพัฒนาโครงการต่างๆ โดยบุคลากรผู้เชี่ยวชาญและ/หรือที่ปรึกษาของเรา ซึ่งบุคคลอื่นอาจเข้าใจว่าคล้ายคลึงกับผลงานสร้างสรรค์ของพวกเขา กรุณาอย่าส่งเนื้อหาเชิงสร้างสรรค์ที่เป็นต้นแบบไม่ว่าในรูปแบบใดมาให้เราหากมิได้รับการร้องขอ แม้ว่าเราจะตระหนักถึงคุณค่าของความคิดเห็นของคุณที่มีต่อเว็บไซต์และผลิตภัณฑ์และบริการต่างๆ ที่นำเสนอโดยเชื่อมโยงกับเว็บไซต์นี้ แต่เราใคร่ขอให้คุณกรุณาแสดงความคิดเห็นที่เฉพาะเจาะจงเกี่ยวกับเรื่องดังกล่าว และกรุณาอย่าส่งความคิด คำแนะนำ หรือเนื้อหาเชิงสร้างสรรค์ใดๆ (เว้นแต่ได้รับคำร้องขอจากเราเป็นการเฉพาะ)
</p>
<p>
7. เนื้อหาที่เชื่อมโยงกับเว็บไซต์

เราอาจจัดหาลิงก์ไปยังเว็บไซต์อื่นๆ ที่เราคิดว่าคุณอาจสนใจ ทั้งนี้เพื่อความสะดวกสำหรับคุณ ในการจัดหาลิงก์เหล่านี้ เรามิได้รับรอง สนับสนุน หรือแนะนำเว็บไซต์ดังกล่าวหรือเนื้อหาที่เผยแพร่โดยหรือบริการที่จัดหาให้โดยเว็บไซต์ดังกล่าว และจะไม่รับผิดชอบต่อเนื้อหา บริการ หรือสถานการณ์อื่นใดซึ่งเกิดขึ้นที่ หรือเกี่ยวข้องกับ หรือมาจากเว็บไซต์อื่นใด

โปรดใช้ดุลยพินิจของคุณในขณะที่เรียกดูอินเทอร์เน็ตและใช้งานเว็บไซต์ คุณควรตระหนักว่าเมื่อคุณใช้งานเว็บไซต์ คุณอาจถูกนำทางไปยังเว็บไซต์อื่นๆ ที่อยู่นอกเหนือการควบคุมของคุณ จากหน้าต่างๆ ของเว็บไซต์นี้ มีลิงก์ไปยังเว็บไซต์อื่นๆ ซึ่งจะนำคุณออกไปนอกเว็บไซต์นี้ ตัวอย่างเช่น หากคุณ "คลิก" แบนเนอร์โฆษณา หรือผลการค้นหา "คลิก" ดังกล่าวอาจนำคุณออกไปจากเว็บไซต์นี้ ซึ่งรวมถึงลิงก์ต่างๆ จากผู้โฆษณา ผู้สนับสนุน และคู่ค้าของเนื้อหาซึ่งอาจใช้โลโก้ของเราโดยเป็นส่วนหนึ่งของข้อตกลงในการใช้แบรนด์ร่วมกัน เว็บไซต์อื่นๆ เหล่านี้อาจส่งคุกกี้ของตนไปยังผู้ใช้ ทำการรวบรวมข้อมูล ขอข้อมูลส่วนบุคคล หรือมีข้อมูลที่คุณอาจพบว่าไม่เหมาะสมหรือเป็นการล่วงละเมิด นอกจากนี้ ผู้โฆษณาบนเว็บไซต์อาจส่งคุกกี้ไปยังผู้ใช้อื่นๆ ที่เราไม่ได้ทำการควบคุม
</p>







